@using Rg.TagHelpers;
@using ExampleProject.Models
@addTagHelper *, Rg.TagHelpers
@model paginateddto
@{
    ViewData["Title"] = "Home Page";
}


<div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-content widget-content-area text-center">
            <div class="row" style="direction:rtl;">
                <div class="col-sm-12">
                    <table class="table table-hover" style="width:100%" role="grid">


                        <thead>
                            <tr>
                                <th scope="col">آیدی</th>
                                <th scope="col">نام</th>
                                <th scop="col">نام خانوادگی</th>
                                <th scop="col">موبایل</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Humen)
                            {
                                <tr>
                                    <th scope="row">@item.Id</th>
                                    <td>@item.Name</td>
                                    <td>@item.Family</td>
                                    <td>@item.phonenumber</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>

            <Paging-Tag rg-total-record="@Model.totalrow"
                        rg-page-index="@Model.pageindex"
                        rg-page-size="@Model.pagesize"
                        rg-max-page="5"
                        rg-query-string-key-page-no="pageindex"
                        rg-query-string-key-page-size="pagesize"
                        rg-show-page-size-nav="true"
                        rg-show-first-last-button="true"
                        rg-page-size-dropdown-items="3,5,8,11,14"
                        rg-dark-mode="true"
                        rg-page-size-label-text="نمایش"
                        rg-page-of-pages-text="صفحه,از"
                        rg-rtl-direction="true"
                        rg-number-format="Farsi">
            </Paging-Tag>
        </div>
    </div>
</div>
